*.pro.user
*.pro.user.*
*.o
*.exe
*.db
*.orig
*.autosave
.DS_STORE
build-tinybusclient-Desktop_Qt_5_3_MinGW_32bit-Debug/
build-tinybusclient-Android_for_armeabi_v7a_GCC_4_9_Qt_5_3_2-Debug

*/Makefile
*/Makefile.Debug
*/Makefile.Release

*/Makefile
*/Makefile.DebugDevice
*/Makefile.DebugSimulator
*/Makefile.ReleaseDevice
*/Makefile.ReleaseSimulator

*/.settings
*/.buildpath
*/.project

build-tinybusclient-Desktop_Qt_5_4_1_MinGW_32bit-Debug/