*.pro.user
*.pro.user.*
*.o
*.exe
*.db
*.orig
.DS_STORE

*/Makefile
*/Makefile.Debug
*/Makefile.Release

*/Makefile
*/Makefile.DebugDevice
*/Makefile.DebugSimulator
*/Makefile.ReleaseDevice
*/Makefile.ReleaseSimulator

*/.settings
*/.buildpath
*/.project